<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>数据统计</title>
    <link th:replace="~{common::common_css}"/>
    <style>
        table {
            table-layout: fixed;
            width: 100%;
        }
        td {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 200px;
        }
    </style>
</head>
<body>
<div id="app">
    <div th:replace="~{common::common_header}"></div>

    <div style="padding: 0 5px;">
        <table class="table table-striped table-hover table-bordered caption-top">
            <caption>
                <h4>List of each Excel file's summary:</h4>
            </caption>
            <thead class="table-light">
            <tr>
                <th scope="col" style="width: 40px;">NO.</th>
                <th scope="col" style="width: 80px;">Type</th>
                <th scope="col" style="width: 10%;">Name</th>
                <th scope="col" style="width: 15%;">Email</th>
                <th scope="col" style="width: 150px;">Team</th>
                <th scope="col" style="width: 10%;">Approving<br>Date</th>
                <th scope="col" style="width: 10%;">Approving<br>Conclusion</th>
                <th scope="col">Additional<br>Comments<br>(if any)</th>
                <th scope="col">Comments<br>(if any)</th>
                <th scope="col" style="width: 10%;">Update Time</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item,iterStat : ${list}" th:attr="data-fileid=${item.getFileId()}">
                <td th:attr="data-id=${item.id}" title="Download Excel file">
                    <a th:href="@{/download/{fileId}(fileId=${item.getFileId()})}" target="_blank">[[${iterStat.count}]]</a>
                </td>
                <td th:text="${item.getInfoType()}"></td>
                <td th:text="${item.getApproverName()}"></td>
                <td th:text="${item.getEmail()}"></td>
                <td th:text="${item.getTeam()}" th:attr="data-bs-title=${item.getTeam()}" data-bs-toggle="tooltip" ></td>
                <td th:text="${item.getApprovingDate()}"></td>
                <td th:text="${item.getApprovingConclusion()}"></td>
                <td th:text="${item.getAdditionalComments()}" th:attr="data-bs-title=${item.getAdditionalComments()}" data-bs-toggle="tooltip" ></td>
                <td th:text="${item.getComments()}" th:attr="data-bs-title=${item.getComments()}" data-bs-toggle="tooltip" ></td>
                <td th:text="${item.getUpdatedAt()}" style="white-space: break-spaces"></td>
            </tr>
            </tbody>
        </table>
        <div style="display: flex;justify-content: space-between;align-content: center;">
            <div class="lead" >
                Total number of excel files:
                <mark>[[${list.size()}]]</mark>
            </div>
            <div class="lead" >
                <a th:href="@{/download/summary}" target="_blank">Download Summary</a>
            </div>
            <div class="lead" >
                <a th:href="@{/download/all}" target="_blank">Download All</a>
            </div>
        </div>
    </div>

    <div th:replace="~{common::common_footer}"></div>
</div>

<script th:replace="~{common::common_script}"></script>
<script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>
</body>
</html>